@model IEnumerable<IoTBay.web.Models.Entities.Usr>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Address</th>
        <th>Action</th>
        <th>Activated</th>
    </tr>
    </thead>
    <tbody id="customerTableBody">
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td>@customer.Type</td>
            <td>@customer.Address</td>
            <td>
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.UserId" class="btn btn-warning">Edit</a>
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.UserId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this customer?')">Delete</a>
            </td>
            <td>@customer.IsActive</td>
        </tr>
    }
    </tbody>
</table>