@model IEnumerable<IoTBay.web.Models.Entities.Usr>
@{
	ViewData["Title"] = "Users";
	Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="~/css/modal.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<br />
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-2">
            <h1 style="text-align: center;">
                @ViewData["Title"]
            </h1>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- Search Bar -->
                    <input type="text" id="searchInput" class="form-control" placeholder="Search by Name or Phone Number">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row justify-content-end">
                <div class="col-md-12 text-md-right">
                    <button class="btn btn-primary" onclick="openEditPage('')">
                        <i class="bi bi-plus"></i> Add User
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
	<thead style="text-align: center;">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Role</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody style="text-align: center;" id="userTableBody">
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Name</td>
				<td>@user.Email</td>
				<td>@user.Phone</td>
				<td>@user.Role</td>
				<td>@user.Status</td>
				<td>
					<a href="#" class="btn btn-primary" onclick="openEditPage('@user.UserId')">
						<i class="bi bi-pencil"></i> Edit
					</a>
					<a href="#" class="btn btn-danger" onclick="openDeleteModal('@user.UserId')">
						<i class="bi bi-trash"></i> Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>

	$(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#userTableBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

	function openEditPage(userId) {
		window.location.href = '/User/Edit/' + userId; // Replace '/User/Edit/' with the actual edit page URL
	}
</script>

<!-- Include the Delete User Modal -->
@Html.Partial("_Delete")
